In [6]:
import pandas as pd
import json
from utils import make_nice_df

In [8]:
with open("data/paraphrased/question.json", "r") as f:
    Q = json.load(f)
with open("data/paraphrased/misconception.json", "r") as f:
    M = json.load(f)
train_df = pd.read_csv("data/train.csv")
train_df = make_nice_df(train_df)

In [ ]:
# TODO add misconception too
def inject(x, Q):
    q_list = [x["QuestionText"]] + Q[str(x["QuestionId"])]
    ai_created = [False] + [True] * (len(q_list) - 1)
    x["QuestionText"] = q_list
    x["QuestionAiCreated"] = ai_created
    return x


t2 = train_df.apply(lambda x: inject(x, Q), axis=1)
t2 = t2.explode(["QuestionText", "AiCreated"])  # type: ignore

In [36]:
pd.DataFrame.explode?

Signature:
pd.DataFrame.explode(
    self,
    column: 'IndexLabel',
    ignore_index: 'bool' = False,
) -> 'DataFrame'
Docstring:
Transform each element of a list-like to a row, replicating index values.

Parameters
----------
column : IndexLabel
    Column(s) to explode.
    For multiple columns, specify a non-empty list with each element
    be str or tuple, and all specified columns their list-like data
    on same row of the frame must have matching length.

    .. versionadded:: 1.3.0
        Multi-column explode

ignore_index : bool, default False
    If True, the resulting index will be labeled 0, 1, …, n - 1.

Returns
-------
DataFrame
    Exploded lists to rows of the subset columns;
    index will be duplicated for these rows.

Raises
------
ValueError :
    * If columns of the frame are not unique.
    * If specified columns to explode is empty list.
    * If specified columns to explode have not matching count of
      elements rowwise in the frame.

See Also
--------
DataFrame.unstack : Pivot a level of the (necessarily hierarchical)
    index labels.
DataFrame.melt : Unpivot a DataFrame from wide format to long format.
Series.explode : Explode a DataFrame from list-like columns to long format.

Notes
-----
This routine will explode list-likes including lists, tuples, sets,
Series, and np.ndarray. The result dtype of the subset rows will
be object. Scalars will be returned unchanged, and empty list-likes will
result in a np.nan for that row. In addition, the ordering of rows in the
output will be non-deterministic when exploding sets.

Reference :ref:`the user guide <reshaping.explode>` for more examples.

Examples
--------
>>> df = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],
...                    'B': 1,
...                    'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
>>> df
           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

Single-column explode.

>>> df.explode('A')
     A  B          C
0    0  1  [a, b, c]
0    1  1  [a, b, c]
0    2  1  [a, b, c]
1  foo  1        NaN
2  NaN  1         []
3    3  1     [d, e]
3    4  1     [d, e]

Multi-column explode.

>>> df.explode(list('AC'))
     A  B    C
0    0  1    a
0    1  1    b
0    2  1    c
1  foo  1  NaN
2  NaN  1  NaN
3    3  1    d
3    4  1    e
File:      ~/miniconda3/envs/kaggle_eedi/lib/python3.11/site-packages/pandas/core/frame.py
Type:      function

In [35]:
t2

,QuestionId,ConstructId,ConstructName,SubjectId,SubjectName,CorrectAnswer,QuestionText,WrongChoice,AnswerText,MisconceptionIdLabel,QuestionId_Answer,AiCreated
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,\[\n3 \times 2+4-5\n\]\nWhere do the brackets ...,D,Does not need brackets,1672,0.0_D,False
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,What placement of brackets will result in the ...,D,Does not need brackets,1672,0.0_D,True
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,"In the equation 3 × 2 + 4 - 5, where should br...",D,Does not need brackets,1672,0.0_D,True
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,How can brackets be arranged in the expression...,D,Does not need brackets,1672,0.0_D,True
0,0,856,Use the order of operations to carry out calcu...,33,BIDMAS,A,Which locations for brackets in the expression...,D,Does not need brackets,1672,0.0_D,True
...,...,...,...,...,...,...,...,...,...,...,...,...
4369,1868,2680,Describe a 90° or 270° rotation giving the ang...,93,Rotation,B,Jo and Paul are arguing about how to fully des...,D,Neither is correct,95,1868.0_D,False
4369,1868,2680,Describe a 90° or 270° rotation giving the ang...,93,Rotation,B,Jo claims that the rotation from shape P to sh...,D,Neither is correct,95,1868.0_D,True
4369,1868,2680,Describe a 90° or 270° rotation giving the ang...,93,Rotation,B,"According to Jo, moving from shape P to shape ...",D,Neither is correct,95,1868.0_D,True
4369,1868,2680,Describe a 90° or 270° rotation giving the ang...,93,Rotation,B,Paul argues that the transition from shape P t...,D,Neither is correct,95,1868.0_D,True
4369,1868,2680,Describe a 90° or 270° rotation giving the ang...,93,Rotation,B,Paul asserts that to rotate from shape P to sh...,D,Neither is correct,95,1868.0_D,True

In [22]:
df = pd.DataFrame({"name": [["a","b","c"]], "ai_created": [[1,0,0]]})
df.explode(["name", "ai_created"])

  name ai_created
0    a          1
0    b          0
0    c          0